<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'receitas/partials/head.html' %}
    <title> {% block title %}{% endblock title %} Receitas</title>
    
</head>
    {% include 'receitas/partials/head.html' %}

<body>
    {% include 'receitas/partials/header.html' %}
    {% include 'receitas/partials/search.html' %}

    <main class="main-content-container">
        {% block content %}
        
        {% endblock content %}
    </main>
    {% include 'receitas/partials/footer.html' %}
</body>

</html>