{% include 'receitas/partials/head.html' %}
<body>
    {% include 'receitas/partials/header.html' %}
    {% include 'receitas/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="receitas receitas-listas-itens">
                <div class="receitas cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="temporário">
                </div>
            </div>
        </div>
    </main>
</body>

</html>